<html>
    <head>
      <title>Spotify playlists</title>
      <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    </head>
    <body>
        {{#each this}}
            Hello {{name}} with id {{id}}.
        {{/each}}
    </body>
</html>
